 ## Check which version of spark that is installed:

In [20]:
import inspect
sc

## Creating an RDD

In [32]:
# Create and RDD with students names and test scores to compute a GPA
# Use sc.parallelize to create RDD
# You can mix different objects with in a list
localTestScores =[['Aiden', 92], ['Aiden', 80], ['Aiden', 60],
                                ('Troy', 93), ('Troy', 77), ('Troy', 85),
                                ('Tyler', 75), ('Tyler', 80), ('Tyler', 90),
                                ]

RDDTestScorees = sc.parallelize(localTestScores, 2)
#Use the glom function on an RDD to see what each parition looks like
RDDTestScorees.glom().collect()

[[['Aiden', 92], ['Aiden', 80], ['Aiden', 60], ('Troy', 93)],
 [('Troy', 77), ('Troy', 85), ('Tyler', 75), ('Tyler', 80), ('Tyler', 90)]]

In [22]:
#This is a local python list that exists on the master i.e. PySpark driver
localTestScores

[['Aiden', 92],
 ['Aiden', 80],
 ['Aiden', 60],
 ('Troy', 93),
 ('Troy', 77),
 ('Troy', 85),
 ('Tyler', 75),
 ('Tyler', 80),
 ('Tyler', 90)]

In [24]:
#This is a RDD that exists distributed on the cluster
RDDTestScorees

ParallelCollectionRDD[79] at parallelize at PythonRDD.scala:480

In [25]:
#In memory lists are mutable but tuples are immuatable
#Change test score to 100 is possible
localTestScores[0][1] = 100
localTestScores

[['Aiden', 100],
 ['Aiden', 80],
 ['Aiden', 60],
 ('Troy', 93),
 ('Troy', 77),
 ('Troy', 85),
 ('Tyler', 75),
 ('Tyler', 80),
 ('Tyler', 90)]

In [26]:
#Fails to work because RDD are immutable and aren't random access
RDDTestScorees[0][1] = 100

TypeError: 'RDD' object does not support indexing

# Basic RDD

In [29]:
# Lets scale everyone's score down by 10% because there was cheating
# You have to call collect gather the results back into the driver to view it
RDDTestScorees.map(lambda entry: (entry[0], entry[1] * 0.9)).collect()

[('Aiden', 82.8),
 ('Aiden', 72.0),
 ('Aiden', 54.0),
 ('Troy', 83.7),
 ('Troy', 69.3),
 ('Troy', 76.5),
 ('Tyler', 67.5),
 ('Tyler', 72.0),
 ('Tyler', 81.0)]

In [ ]:
# You can compute the class GPA by
rddScaledScores = RDDTestScorees.map(lambda entry: (entry[1] * 0.9))
#Show pipeline maps i.e. the cluster tracks how the data was created
#rddScaledScores?

In [30]:
#gives you the class average
rddScaledScores.reduce(lambda s1,s2: s1 + s2) / rddScaledScores.count()

73.19999999999999

In [31]:
#To get the average per student then you need group the data by student
RDDTestScorees.groupByKey().collect()

[('Aiden', <pyspark.resultiterable.ResultIterable at 0x7f0319cafdd0>),
 ('Troy', <pyspark.resultiterable.ResultIterable at 0x7f0319cc2290>),
 ('Tyler', <pyspark.resultiterable.ResultIterable at 0x7f0319cc21d0>)]

In [33]:
import operator
# computing the averager per student is going to require doing an aggregateByKey on the RDD
# The data of a single student can be store in more than 1 parition i.e. exists on a different worker
# In this example Troy exists in the first and second parition
# We need to specifiy how to combine it properly
# You need to provide a starting zeroValue
starting_value = {'total_score' : 0,
                 'cnt_tests' : 0}

# You modifying the input argument accumulator
# this function gets applied to each element per partition
def seq_op(accumulator, test_score):
  accumulator['total_score'] = accumulator['total_score'] + test_score
  accumulator['cnt_tests'] = accumulator['cnt_tests'] + 1
  return accumulator

# combines the result across parition therefore it will be combining dictionaries
def comb_op(dic_p1, dic_p2):
  dic_p1['total_score'] = dic_p1['total_score'] + dic_p2['total_score'] 
  dic_p1['cnt_tests'] = dic_p1['cnt_tests'] +  dic_p2['cnt_tests'] 
  return dic_p1

per_student_stats = RDDTestScorees.aggregateByKey(starting_value, seq_op, comb_op)
per_student_stats.collect()

[('Aiden', {'cnt_tests': 3, 'total_score': 232}),
 ('Troy', {'cnt_tests': 3, 'total_score': 255}),
 ('Tyler', {'cnt_tests': 3, 'total_score': 245})]

In [34]:
per_student_stats.map(lambda student_stats:
                    (student_stats[0], float(student_stats[1]['total_score']) / student_stats[1]['cnt_tests'])).collect()

[('Aiden', 77.33333333333333), ('Troy', 85.0), ('Tyler', 81.66666666666667)]

# PySpark DataFrame

In [35]:
#Get access google cloud storage
import google.datalab.storage as storage
import pyspark.sql.functions as func
from pyspark.sql.types import *
from pyspark.sql import *
import pyspark.sql.window

bucket = storage.Bucket('mth9898-bucket')

#field, data_type, nullable
csv_schema = StructType([StructField("Date", DateType(), True),    
                        StructField("Open", DoubleType(), True),
                        StructField("High", DoubleType(), True),
                        StructField("Low", DoubleType(), True),
                        StructField("Close", DoubleType(), True),
                        StructField("Adj Close", DoubleType(), True),
                        StructField("Volume", LongType(), True)])

df_sp_500 = spark.read.csv(bucket.object('sp_500.csv').uri, header=True, schema=csv_schema)
df_sp_500.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: long (nullable = true)

In [36]:
df_sp_500.show()

+----------+-----------+-----------+-----------+-----------+-----------+----------+
|      Date|       Open|       High|        Low|      Close|  Adj Close|    Volume|
+----------+-----------+-----------+-----------+-----------+-----------+----------+
|2013-02-11|1517.930054|1518.310059|1513.609985| 1517.01001| 1517.01001|2684100000|
|2013-02-12| 1517.01001|1522.290039|1515.609985|1519.430054|1519.430054|3414370000|
|2013-02-13|1519.430054|1524.689941|1515.930054|1520.329956|1520.329956|3385880000|
|2013-02-14|1520.329956|1523.140015| 1514.02002|1521.380005|1521.380005|3759740000|
|2013-02-15|1521.380005| 1524.23999|1514.140015|1519.790039|1519.790039|3838510000|
|2013-02-19|1519.790039|1530.939941|1519.790039|1530.939941|1530.939941|3748910000|
|2013-02-20|1530.939941|1530.939941|1511.410034|1511.949951|1511.949951|4240570000|
|2013-02-21|1511.949951|1511.949951|1497.290039|1502.420044|1502.420044|4274600000|
|2013-02-22|1502.420044|1515.640015|1502.420044|1515.599976|1515.599976|3419320000|
|2013-02-25|1515.599976|1525.839966|1487.849976|1487.849976|1487.849976|4011050000|
|2013-02-26|1487.849976| 1498.98999| 1485.01001|1496.939941|1496.939941|3975280000|
|2013-02-27|1496.939941|1520.079956|1494.880005| 1515.98999| 1515.98999|3551850000|
|2013-02-28| 1515.98999|1525.339966|1514.459961|1514.680054|1514.680054|3912320000|
|2013-03-01|1514.680054| 1519.98999| 1501.47998|1518.199951|1518.199951|3695610000|
|2013-03-04|1518.199951| 1525.27002|1512.290039|1525.199951|1525.199951|3414430000|
|2013-03-05|1525.199951|1543.469971|1525.199951|1539.790039|1539.790039|3610690000|
|2013-03-06|1539.790039|    1545.25|1538.109985|1541.459961|1541.459961|3676890000|
|2013-03-07|1541.459961|1545.780029|1541.459961| 1544.26001| 1544.26001|3634710000|
|2013-03-08| 1544.26001| 1552.47998|1542.939941|1551.180054|1551.180054|3652260000|
|2013-03-11|1551.150024| 1556.27002|1547.359985|1556.219971|1556.219971|3091080000|
+----------+-----------+-----------+-----------+-----------+-----------+----------+
only showing top 20 rows

In [37]:
#Add a column
df_sp_500 = df_sp_500.withColumn('IDX', func.lit('SP_500'))

In [38]:
df_sp_500.show()

+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
|      Date|       Open|       High|        Low|      Close|  Adj Close|    Volume|   IDX|
+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
|2013-02-11|1517.930054|1518.310059|1513.609985| 1517.01001| 1517.01001|2684100000|SP_500|
|2013-02-12| 1517.01001|1522.290039|1515.609985|1519.430054|1519.430054|3414370000|SP_500|
|2013-02-13|1519.430054|1524.689941|1515.930054|1520.329956|1520.329956|3385880000|SP_500|
|2013-02-14|1520.329956|1523.140015| 1514.02002|1521.380005|1521.380005|3759740000|SP_500|
|2013-02-15|1521.380005| 1524.23999|1514.140015|1519.790039|1519.790039|3838510000|SP_500|
|2013-02-19|1519.790039|1530.939941|1519.790039|1530.939941|1530.939941|3748910000|SP_500|
|2013-02-20|1530.939941|1530.939941|1511.410034|1511.949951|1511.949951|4240570000|SP_500|
|2013-02-21|1511.949951|1511.949951|1497.290039|1502.420044|1502.420044|4274600000|SP_500|
|2013-02-22|1502.420044|1515.640015|1502.420044|1515.599976|1515.599976|3419320000|SP_500|
|2013-02-25|1515.599976|1525.839966|1487.849976|1487.849976|1487.849976|4011050000|SP_500|
|2013-02-26|1487.849976| 1498.98999| 1485.01001|1496.939941|1496.939941|3975280000|SP_500|
|2013-02-27|1496.939941|1520.079956|1494.880005| 1515.98999| 1515.98999|3551850000|SP_500|
|2013-02-28| 1515.98999|1525.339966|1514.459961|1514.680054|1514.680054|3912320000|SP_500|
|2013-03-01|1514.680054| 1519.98999| 1501.47998|1518.199951|1518.199951|3695610000|SP_500|
|2013-03-04|1518.199951| 1525.27002|1512.290039|1525.199951|1525.199951|3414430000|SP_500|
|2013-03-05|1525.199951|1543.469971|1525.199951|1539.790039|1539.790039|3610690000|SP_500|
|2013-03-06|1539.790039|    1545.25|1538.109985|1541.459961|1541.459961|3676890000|SP_500|
|2013-03-07|1541.459961|1545.780029|1541.459961| 1544.26001| 1544.26001|3634710000|SP_500|
|2013-03-08| 1544.26001| 1552.47998|1542.939941|1551.180054|1551.180054|3652260000|SP_500|
|2013-03-11|1551.150024| 1556.27002|1547.359985|1556.219971|1556.219971|3091080000|SP_500|
+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
only showing top 20 rows

In [39]:
df_nasdaq = spark.read.csv(bucket.object('nasdaq.csv').uri, header=True, schema=csv_schema).withColumn('IDX', func.lit('NASDAQ'))
df_nasdaq.show()

df_russell_2k = spark.read.csv(bucket.object('russell_2000.csv').uri, header=True, schema=csv_schema).withColumn('IDX', func.lit('RUSSELL_2000'))
df_russell_2k.show()

+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
|      Date|       Open|       High|        Low|      Close|  Adj Close|    Volume|   IDX|
+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
|2013-02-11|3192.530029| 3194.01001|3182.189941|     3192.0|     3192.0|1551370000|NASDAQ|
|2013-02-12| 3190.72998|3196.919922|3184.840088| 3186.48999| 3186.48999|1786800000|NASDAQ|
|2013-02-13|3195.340088| 3205.52002|3187.060059|3196.879883|3196.879883|1822450000|NASDAQ|
|2013-02-14| 3182.73999|3202.330078|3182.389893|3198.659912|3198.659912|1924900000|NASDAQ|
|2013-02-15|3202.840088|3206.209961|3184.030029|3192.030029|3192.030029|1858670000|NASDAQ|
|2013-02-19|3197.459961|3213.600098|3194.919922|3213.590088|3213.590088|1843840000|NASDAQ|
|2013-02-20| 3211.98999|    3213.25|3163.949951|3164.409912|3164.409912|2001800000|NASDAQ|
|2013-02-21|3154.879883|3155.189941|3118.620117| 3131.48999| 3131.48999|2052630000|NASDAQ|
|2013-02-22|3149.090088|3161.820068|3139.550049|3161.820068|3161.820068|1581500000|NASDAQ|
|2013-02-25|3180.590088|    3186.25|    3116.25|    3116.25|    3116.25|1930990000|NASDAQ|
|2013-02-26| 3126.22998|3135.570068|3105.360107|3129.649902|3129.649902|1847750000|NASDAQ|
|2013-02-27|3129.719971|3177.800049| 3127.27002| 3162.26001| 3162.26001|1727260000|NASDAQ|
|2013-02-28|3161.429932|3182.600098|3159.719971|3160.189941|3160.189941|2022530000|NASDAQ|
|2013-03-01|3143.540039|     3171.5|3129.399902| 3169.73999| 3169.73999|1870250000|NASDAQ|
|2013-03-04|3159.459961| 3182.27002|3154.790039|3182.030029|3182.030029|1718290000|NASDAQ|
|2013-03-05|3200.379883|3227.310059| 3200.27002|3224.129883|3224.129883|1891510000|NASDAQ|
|2013-03-06|3233.310059|3233.439941|3217.669922|3222.370117|3222.370117|1764020000|NASDAQ|
|2013-03-07|     3224.5|3235.100098|3221.469971|3232.090088|3232.090088|1675640000|NASDAQ|
|2013-03-08|3245.850098|3248.699951|3227.889893|3244.370117|3244.370117|1611700000|NASDAQ|
|2013-03-11| 3237.73999|3252.870117|3233.669922|3252.870117|3252.870117|1628500000|NASDAQ|
+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
only showing top 20 rows

+----------+----------+----------+----------+----------+----------+--------+------------+
|      Date|      Open|      High|       Low|     Close| Adj Close|  Volume|         IDX|
+----------+----------+----------+----------+----------+----------+--------+------------+
|2013-02-11|913.549988|913.559998|910.219971|913.030029|913.030029|26841000|RUSSELL_2000|
|2013-02-12| 913.77002|918.169983| 913.72998| 917.52002| 917.52002|34143700|RUSSELL_2000|
|2013-02-13|918.130005|921.289978|916.789978|920.580017|920.580017|33858800|RUSSELL_2000|
|2013-02-14|920.549988|924.679993|918.710022| 923.76001| 923.76001|37597400|RUSSELL_2000|
|2013-02-15|927.330017|927.340027| 921.73999|923.150024|923.150024|38385100|RUSSELL_2000|
|2013-02-19|924.140015|     932.0|924.140015|     932.0|     932.0|37489100|RUSSELL_2000|
|2013-02-20|931.469971|931.650024|     913.5|     913.5|     913.5|42405700|RUSSELL_2000|
|2013-02-21|912.700012|912.700012| 900.47998|905.400024|905.400024|42746000|RUSSELL_2000|
|2013-02-22|910.349976|916.150024|910.349976|916.150024|916.150024|34193200|RUSSELL_2000|
|2013-02-25|916.119995|919.359985|895.840027|895.840027|895.840027|40110500|RUSSELL_2000|
|2013-02-26|    898.75|902.130005| 894.23999|900.049988|900.049988|39752800|RUSSELL_2000|
|2013-02-27| 900.01001| 913.51001|899.200012|909.919983|909.919983|35518500|RUSSELL_2000|
|2013-02-28|909.619995|915.890015|909.200012|911.109985|911.109985|39123200|RUSSELL_2000|
|2013-03-01|905.369995|915.719971|899.309998| 914.72998| 914.72998|36956100|RUSSELL_2000|
|2013-03-04|914.049988|916.690002|908.640015|916.679993|916.679993|34144300|RUSSELL_2000|
|2013-03-05|920.080017|928.130005|920.080017|927.400024|927.400024|36106900|RUSSELL_2000|
|2013-03-06|929.340027|930.809998|927.450012|929.960022|929.960022|36768900|RUSSELL_2000|
|2013-03-07|930.150024|934.570007|929.369995|934.570007|934.570007|36347100|RUSSELL_2000|
|2013-03-08| 939.73999|942.559998| 935.47998|     942.5|     942.5|36522600|RUSSELL_2000|
|2013-03-11|940.429993|942.619995|939.119995| 942.51001| 942.51001|30910800|RUSSELL_2000|
+----------+----------+----------+----------+----------+----------+--------+------------+
only showing top 20 rows

In [40]:
#make a single dataframe with all 3 indicies
df_indices = df_sp_500.unionAll(df_nasdaq).unionAll(df_russell_2k)
#take a sample and show it
df_indices.sample(False, 0.01).show()

+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
|      Date|       Open|       High|        Low|      Close|  Adj Close|    Volume|   IDX|
+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
|2013-12-24| 1828.02002|1833.319946| 1828.02002|1833.319946|1833.319946|1307630000|SP_500|
|2014-03-03|1857.680054|1857.680054|1834.439941| 1845.72998| 1845.72998|3428220000|SP_500|
|2014-03-06|1874.180054|1881.939941|1874.180054|1877.030029|1877.030029|3360450000|SP_500|
|2014-06-24|1961.969971|1968.170044|1948.339966| 1949.97998| 1949.97998|3089700000|SP_500|
|2014-10-31|2001.199951|2018.189941|2001.199951|2018.050049|2018.050049|4292290000|SP_500|
|2015-02-03|2022.709961|2050.300049|2022.709961|2050.030029|2050.030029|4615900000|SP_500|
|2015-03-20|2090.320068|2113.919922|2090.320068|2108.100098|2108.100098|5554120000|SP_500|
|2015-06-12|2107.429932|2107.429932|2091.330078|2094.110107|2094.110107|2719400000|SP_500|
|2016-01-27| 1902.52002| 1916.98999|1872.699951|1882.949951|1882.949951|4754040000|SP_500|
|2016-02-05|1913.069946|1913.069946|1872.650024|1880.050049|1880.050049|4929940000|SP_500|
|2017-04-04| 2354.76001|2360.530029|2350.719971|2360.159912|2360.159912|3206240000|SP_500|
|2017-04-18|2342.530029|2348.350098|2334.540039|2342.189941|2342.189941|3269840000|SP_500|
|2017-12-04|2657.189941|2665.189941|2639.030029|2639.439941|2639.439941|4023150000|SP_500|
|2014-04-29| 4089.51001|4111.450195|    4070.25|4103.540039|4103.540039|1911240000|NASDAQ|
|2014-06-26|4379.439941|4379.799805|4347.450195|4379.049805|4379.049805|1554070000|NASDAQ|
|2014-11-24|4725.169922| 4755.02002|4723.620117|4754.890137|4754.890137|1568130000|NASDAQ|
|2015-05-12|4966.439941|     4995.5|4931.600098|4976.189941|4976.189941|         0|NASDAQ|
|2017-05-11|6110.049805|6120.200195|6075.680176|6115.959961|6115.959961|1950910000|NASDAQ|
|2017-11-01|6758.640137|6759.660156| 6691.47998|6716.529785|6716.529785|2056860000|NASDAQ|
|2017-12-05|6759.140137|6836.450195|6752.319824|6762.209961|6762.209961|2083540000|NASDAQ|
+----------+-----------+-----------+-----------+-----------+-----------+----------+------+
only showing top 20 rows

In [41]:
w_by_idx_date = Window.partitionBy('IDX').orderBy("Date")
#Get the previous close
df_indices = df_indices.withColumn('PreviousClose', 
                                   func.lag(df_indices.Close).over(w_by_idx_date))
df_indices.show()
#Compute the daily return
df_indices = df_indices.withColumn('DailyReturn', 
                                   func.when(func.isnull(df_indices.Close / df_indices.PreviousClose), 
                                             0).otherwise(df_indices.Close / df_indices.PreviousClose - 1))
df_indices.show()
w_last_30_days = w_by_idx_date.rowsBetween(-30, 0)
df_indices = df_indices.withColumn('MovingAvg30dayDailyReturn', 
                                   func.avg(df_indices.DailyReturn).over(w_last_30_days))
df_indices.show()

+----------+----------+----------+----------+----------+----------+--------+------------+-------------+
|      Date|      Open|      High|       Low|     Close| Adj Close|  Volume|         IDX|PreviousClose|
+----------+----------+----------+----------+----------+----------+--------+------------+-------------+
|2013-02-11|913.549988|913.559998|910.219971|913.030029|913.030029|26841000|RUSSELL_2000|         null|
|2013-02-12| 913.77002|918.169983| 913.72998| 917.52002| 917.52002|34143700|RUSSELL_2000|   913.030029|
|2013-02-13|918.130005|921.289978|916.789978|920.580017|920.580017|33858800|RUSSELL_2000|    917.52002|
|2013-02-14|920.549988|924.679993|918.710022| 923.76001| 923.76001|37597400|RUSSELL_2000|   920.580017|
|2013-02-15|927.330017|927.340027| 921.73999|923.150024|923.150024|38385100|RUSSELL_2000|    923.76001|
|2013-02-19|924.140015|     932.0|924.140015|     932.0|     932.0|37489100|RUSSELL_2000|   923.150024|
|2013-02-20|931.469971|931.650024|     913.5|     913.5|     913.5|42405700|RUSSELL_2000|        932.0|
|2013-02-21|912.700012|912.700012| 900.47998|905.400024|905.400024|42746000|RUSSELL_2000|        913.5|
|2013-02-22|910.349976|916.150024|910.349976|916.150024|916.150024|34193200|RUSSELL_2000|   905.400024|
|2013-02-25|916.119995|919.359985|895.840027|895.840027|895.840027|40110500|RUSSELL_2000|   916.150024|
|2013-02-26|    898.75|902.130005| 894.23999|900.049988|900.049988|39752800|RUSSELL_2000|   895.840027|
|2013-02-27| 900.01001| 913.51001|899.200012|909.919983|909.919983|35518500|RUSSELL_2000|   900.049988|
|2013-02-28|909.619995|915.890015|909.200012|911.109985|911.109985|39123200|RUSSELL_2000|   909.919983|
|2013-03-01|905.369995|915.719971|899.309998| 914.72998| 914.72998|36956100|RUSSELL_2000|   911.109985|
|2013-03-04|914.049988|916.690002|908.640015|916.679993|916.679993|34144300|RUSSELL_2000|    914.72998|
|2013-03-05|920.080017|928.130005|920.080017|927.400024|927.400024|36106900|RUSSELL_2000|   916.679993|
|2013-03-06|929.340027|930.809998|927.450012|929.960022|929.960022|36768900|RUSSELL_2000|   927.400024|
|2013-03-07|930.150024|934.570007|929.369995|934.570007|934.570007|36347100|RUSSELL_2000|   929.960022|
|2013-03-08| 939.73999|942.559998| 935.47998|     942.5|     942.5|36522600|RUSSELL_2000|   934.570007|
|2013-03-11|940.429993|942.619995|939.119995| 942.51001| 942.51001|30910800|RUSSELL_2000|        942.5|
+----------+----------+----------+----------+----------+----------+--------+------------+-------------+
only showing top 20 rows

+----------+----------+----------+----------+----------+----------+--------+------------+-------------+--------------------+
|      Date|      Open|      High|       Low|     Close| Adj Close|  Volume|         IDX|PreviousClose|         DailyReturn|
+----------+----------+----------+----------+----------+----------+--------+------------+-------------+--------------------+
|2013-02-11|913.549988|913.559998|910.219971|913.030029|913.030029|26841000|RUSSELL_2000|         null|                 0.0|
|2013-02-12| 913.77002|918.169983| 913.72998| 917.52002| 917.52002|34143700|RUSSELL_2000|   913.030029|0.004917681628629156|
|2013-02-13|918.130005|921.289978|916.789978|920.580017|920.580017|33858800|RUSSELL_2000|    917.52002|0.003335073822149...|
|2013-02-14|920.549988|924.679993|918.710022| 923.76001| 923.76001|37597400|RUSSELL_2000|   920.580017|0.003454336332829655|
|2013-02-15|927.330017|927.340027| 921.73999|923.150024|923.150024|38385100|RUSSELL_2000|    923.76001|-6.60329515671409...|
|2013-02-19|924.140015|     932.0|924.140015|     932.0|     932.0|37489100|RUSSELL_2000|   923.150024|0.009586714802490182|
|2013-02-20|931.469971|931.650024|     913.5|     913.5|     913.5|42405700|RUSSELL_2000|        932.0|-0.01984978540772...|
|2013-02-21|912.700012|912.700012| 900.47998|905.400024|905.400024|42746000|RUSSELL_2000|        913.5|-0.00886696880131...|
|2013-02-22|910.349976|916.150024|910.349976|916.150024|916.150024|34193200|RUSSELL_2000|   905.400024| 0.01187320489843513|
|2013-02-25|916.119995|919.359985|895.840027|895.840027|895.840027|40110500|RUSSELL_2000|   916.150024|-0.02216885495600...|
|2013-02-26|    898.75|902.130005| 894.23999|900.049988|900.049988|39752800|RUSSELL_2000|   895.840027|0.004699456234500188|
|2013-02-27| 900.01001| 913.51001|899.200012|909.919983|909.919983|35518500|RUSSELL_2000|   900.049988|0.010966052032212348|
|2013-02-28|909.619995|915.890015|909.200012|911.109985|911.109985|39123200|RUSSELL_2000|   909.919983|0.001307809502190116|
|2013-03-01|905.369995|915.719971|899.309998| 914.72998| 914.72998|36956100|RUSSELL_2000|   911.109985|0.003973170154643713|
|2013-03-04|914.049988|916.690002|908.640015|916.679993|916.679993|34144300|RUSSELL_2000|    914.72998|0.002131790848267645|
|2013-03-05|920.080017|928.130005|920.080017|927.400024|927.400024|36106900|RUSSELL_2000|   916.679993|0.011694409261531646|
|2013-03-06|929.340027|930.809998|927.450012|929.960022|929.960022|36768900|RUSSELL_2000|   927.400024|0.002760403206545581|
|2013-03-07|930.150024|934.570007|929.369995|934.570007|934.570007|36347100|RUSSELL_2000|   929.960022|0.004957186213323084|
|2013-03-08| 939.73999|942.559998| 935.47998|     942.5|     942.5|36522600|RUSSELL_2000|   934.570007| 0.00848517814674521|
|2013-03-11|940.429993|942.619995|939.119995| 942.51001| 942.51001|30910800|RUSSELL_2000|        942.5|1.062068965507201...|
+----------+----------+----------+----------+----------+----------+--------+------------+-------------+--------------------+
only showing top 20 rows

+----------+----------+----------+----------+----------+----------+--------+------------+-------------+--------------------+-------------------------+
|      Date|      Open|      High|       Low|     Close| Adj Close|  Volume|         IDX|PreviousClose|         DailyReturn|MovingAvg30dayDailyReturn|
+----------+----------+----------+----------+----------+----------+--------+------------+-------------+--------------------+-------------------------+
|2013-02-11|913.549988|913.559998|910.219971|913.030029|913.030029|26841000|RUSSELL_2000|         null|                 0.0|                      0.0|
|2013-02-12| 913.77002|918.169983| 913.72998| 917.52002| 917.52002|34143700|RUSSELL_2000|   913.030029|0.004917681628629156|     0.002458840814314578|
|2013-02-13|918.130005|921.289978|916.789978|920.580017|920.580017|33858800|RUSSELL_2000|    917.52002|0.003335073822149...|     0.002750918483592842|
|2013-02-14|920.549988|924.679993|918.710022| 923.76001| 923.76001|37597400|RUSSELL_2000|   920.580017|0.003454336332829655|     0.002926772945902...|
|2013-02-15|927.330017|927.340027| 921.73999|923.150024|923.150024|38385100|RUSSELL_2000|    923.76001|-6.60329515671409...|     0.002209352453587...|
|2013-02-19|924.140015|     932.0|924.140015|     932.0|     932.0|37489100|RUSSELL_2000|   923.150024|0.009586714802490182|     0.003438912845071159|
|2013-02-20|931.469971|931.650024|     913.5|     913.5|     913.5|42405700|RUSSELL_2000|        932.0|-0.01984978540772...|     1.119559518145209...|
|2013-02-21|912.700012|912.700012| 900.47998|905.400024|905.400024|42746000|RUSSELL_2000|        913.5|-0.00886696880131...|     -0.00101040964232...|
|2013-02-22|910.349976|916.150024|910.349976|916.150024|916.150024|34193200|RUSSELL_2000|   905.400024| 0.01187320489843513|     4.211030844248034E-4|
|2013-02-25|916.119995|919.359985|895.840027|895.840027|895.840027|40110500|RUSSELL_2000|   916.150024|-0.02216885495600...|     -0.00183789271961...|
|2013-02-26|    898.75|902.130005| 894.23999|900.049988|900.049988|39752800|RUSSELL_2000|   895.840027|0.004699456234500188|     -0.00124358826924...|
|2013-02-27| 900.01001| 913.51001|899.200012|909.919983|909.919983|35518500|RUSSELL_2000|   900.049988|0.010966052032212348|     -2.26118244122756...|
|2013-02-28|909.619995|915.890015|909.200012|911.109985|911.109985|39123200|RUSSELL_2000|   909.919983|0.001307809502190116|     -1.08123802098689...|
|2013-03-01|905.369995|915.719971|899.309998| 914.72998| 914.72998|36956100|RUSSELL_2000|   911.109985|0.003973170154643713|     1.833971948114822...|
|2013-03-04|914.049988|916.690002|908.640015|916.679993|916.679993|34144300|RUSSELL_2000|    914.72998|0.002131790848267645|     3.132901050418931...|
|2013-03-05|920.080017|928.130005|920.080017|927.400024|927.400024|36106900|RUSSELL_2000|   916.679993|0.011694409261531646|     0.001024610052322...|
|2013-03-06|929.340027|930.809998|927.450012|929.960022|929.960022|36768900|RUSSELL_2000|   927.400024|0.002760403206545581|     0.001126715531982...|
|2013-03-07|930.150024|934.570007|929.369995|934.570007|934.570007|36347100|RUSSELL_2000|   929.960022|0.004957186213323084|     0.001339519458723...|
|2013-03-08| 939.73999|942.559998| 935.47998|     942.5|     942.5|36522600|RUSSELL_2000|   934.570007| 0.00848517814674521|     0.001715606758093364|
|2013-03-11|940.429993|942.619995|939.119995| 942.51001| 942.51001|30910800|RUSSELL_2000|        942.5|1.062068965507201...|     0.001630357454671...|
+----------+----------+----------+----------+----------+----------+--------+------------+-------------+--------------------+-------------------------+
only showing top 20 rows

In [42]:
import StringIO
csv = StringIO.StringIO()
df_indices.toPandas().to_csv(csv)
output_csv = bucket.object('output.csv')
output_csv.write_stream(csv.getvalue(), 'text/plain')